<% provide(:title, "Blog") %>
<div id="news">
               	 			<div id="recent-posts-3" class="widget widget_recent_entries">		<h3>Recent news</h3>		<ul>
					<li>
				<a href="http://worldspinecare.com/world-spine-care-featured-in-canadian-chiropractor-magazine/" title="World Spine Care featured in Canadian Chiropractor Magazine">World Spine Care featured in Canadian Chiropractor Magazine</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/dr-roisin-durcan-volunteers-in-botswana/" title="Dr. Roisin Durcan volunteers in Botswana">Dr. Roisin Durcan volunteers in Botswana</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/dr-outerbridge-is-interviewed-on-botswana-breakfast-television-talking-about-world-spine-care-in-botswana/" title="Dr. Outerbridge is interviewed on Botswana Breakfast Television talking about World Spine Care in Botswana">Dr. Outerbridge is interviewed on Botswana Breakfast Television talking about World Spine Care in Botswana</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/dr-tim-ford-takes-over-for-dr-odane-brady-who-has-run-the-botswana-clinics-for-one-year/" title="Dr. Tim Ford takes over for Dr. O&#8217;Dane Brady who has run the Botswana clinics for one year.">Dr. Tim Ford takes over for Dr. O&#8217;Dane Brady who has run the Botswana clinics for one year.</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/the-first-wsc-scholarship-recipient-has-started-her-education-at-the-palmer-college-of-chiropractic-in-davenport-iowa/" title="The first WSC scholarship recipient has started her education at the Palmer College of Chiropractic in Davenport, Iowa.">The first WSC scholarship recipient has started her education at the Palmer College of Chiropractic in Davenport, Iowa.</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/dr-patricia-tavares-and-dr-geoff-outerbridge-visit-moca-to-establish-local-support-and-develop-the-moca-project/" title="Dr. Patricia Tavares and Dr. Geoff Outerbridge visit Moca to establish local support and develop the Moca project.">Dr. Patricia Tavares and Dr. Geoff Outerbridge visit Moca to establish local support and develop the Moca project.</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/dr-rosemary-oman-from-switzerland-volunteers-for-6-weeks-in-botswana/" title="Dr. Rosemary Oman from Switzerland volunteers for 6 weeks in Botswana">Dr. Rosemary Oman from Switzerland volunteers for 6 weeks in Botswana</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/sally-valentine-arrives-in-botswana-to-implement-a-scoliosis-screening-program/" title="Sally Valentine arrives in Botswana to implement a scoliosis screening program.">Sally Valentine arrives in Botswana to implement a scoliosis screening program.</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/another-testimonial-from-a-patient-at-the-mahalapye-district-hospital/" title="Another testimonial from a patient at the Mahalapye District Hospital">Another testimonial from a patient at the Mahalapye District Hospital</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/after-2-years-dr-outerbridge-and-family-leave-botswana-and-return-to-canada/" title="After 2 years Dr. Outerbridge and family leave Botswana and return to Canada">After 2 years Dr. Outerbridge and family leave Botswana and return to Canada</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/dr-steve-malone-spends-a-month-in-botswana/" title="Dr. Steve Malone spends a month in Botswana">Dr. Steve Malone spends a month in Botswana</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/dr-tim-ford-arrives-in-botswana/" title="Dr. Tim Ford arrives in Botswana">Dr. Tim Ford arrives in Botswana</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/dr-chris-bantock-arrives-in-botswana-to-volunteer-for-6-weeks/" title="Dr. Chris Bantock arrives in Botswana to volunteer for 6 weeks">Dr. Chris Bantock arrives in Botswana to volunteer for 6 weeks</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/dr-haldeman-visits-the-dominican-republic-to-initiate-the-moca-project/" title="Dr. Haldeman visits the Dominican Republic to initiate the Moca project.">Dr. Haldeman visits the Dominican Republic to initiate the Moca project.</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/dr-brandvold-arrives-for-a-second-volunteer-tour/" title="Dr. Brandvold arrives for a second volunteer tour">Dr. Brandvold arrives for a second volunteer tour</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/paul-hodges-visits-the-botswana-clinics/" title="Paul Hodges visits the Botswana clinics">Paul Hodges visits the Botswana clinics</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/the-wsc-team-visits-tanzania-for-a-feasibility-study/" title="The WSC team visits Tanzania for a feasibility study">The WSC team visits Tanzania for a feasibility study</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/dr-claude-bourassa-and-carol-bourassa-arrive-in-mahalapye/" title="Dr. Claude Bourassa and Carol Bourassa arrive in Mahalapye">Dr. Claude Bourassa and Carol Bourassa arrive in Mahalapye</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/world-spine-care-hosts-the-first-spine-care-conference-in-mahalapye-botswana/" title="World Spine Care hosts the first Spine Care Conference in Mahalapye, Botswana.">World Spine Care hosts the first Spine Care Conference in Mahalapye, Botswana.</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/world-spine-care-team-meets-in-botswana/" title="World Spine Care Team meets in Botswana">World Spine Care Team meets in Botswana</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/dr-brady-arrives-in-botswana-for-a-year-of-volunteer-service/" title="Dr. Brady arrives in Botswana for a year of volunteer service">Dr. Brady arrives in Botswana for a year of volunteer service</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/dr-cecilia-lothe-and-dr-ismat-kanga-arrive-in-mahalapye/" title="Dr. Cecilia Lothe and Dr. Ismat Kanga arrive in Mahalapye">Dr. Cecilia Lothe and Dr. Ismat Kanga arrive in Mahalapye</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/dr-outerbridge-awarded-ontario-chiropractor-of-the-year-for-his-work-with-world-spine-care/" title="Dr. Outerbridge awarded Ontario Chiropractor of the year for his work with World Spine Care">Dr. Outerbridge awarded Ontario Chiropractor of the year for his work with World Spine Care</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/tanielle-hilderman-physiotherapist-arrives-in-mahalapye-to-develop-the-wsc-physiotherapy-program/" title="Tanielle Hilderman, Physiotherapist, arrives in Mahalapye to develop the WSC physiotherapy program.">Tanielle Hilderman, Physiotherapist, arrives in Mahalapye to develop the WSC physiotherapy program.</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/dr-ken-dehaas-arrives-in-botswana-to-run-the-mahalapye-and-shoshong-clinics/" title="Dr. Ken DeHaas arrives in Botswana to run the Mahalapye and Shoshong clinics.">Dr. Ken DeHaas arrives in Botswana to run the Mahalapye and Shoshong clinics.</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/dr-becky-carpenter-arrives-in-mahalapye-to-volunteer-for-5-weeks/" title="Dr. Becky Carpenter arrives in Mahalapye to volunteer for 5 weeks">Dr. Becky Carpenter arrives in Mahalapye to volunteer for 5 weeks</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/the-shoshong-world-spine-care-clinic-opens/" title="The Shoshong World Spine Care Clinic opens">The Shoshong World Spine Care Clinic opens</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/drs-doug-brandvold-and-grant-winter-arrive-in-mahalapye/" title="Dr&#8217;s Doug Brandvold and Grant Winter arrive in Mahalapye">Dr&#8217;s Doug Brandvold and Grant Winter arrive in Mahalapye</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/first-volunteer-clinican-dr-sarah-potthoff-arrives-in-botswana/" title="First volunteer clinican, Dr. Sarah Potthoff, arrives in Botswana">First volunteer clinican, Dr. Sarah Potthoff, arrives in Botswana</a>
						</li>
					<li>
				<a href="http://worldspinecare.com/dr-munro-in-ranthambhore/" title="Dr. Munro in Ranthambhore">Dr. Munro in Ranthambhore</a>
						</li>
				</ul>
		</div>