<% provide(:title, "Clinics") %>

 <nav class="navbar-scroll hidden-xs hidden-sm" id="nav" role="navigation">
        <ul class="projects nav nav-tabs" role="navigation">
          <li>
            <a class="clinic-names" href="#projects"><h4 id="clinic-title"><span>Clinics</span></h4>
          </li>
          <li>
            <a class="clinic-names" href="#botswana"><h4><span>Botswana</span></h4>
            </a>
          </li>
          <li>
            <a class="clinic-names" href="#tanzania"><h4><span>Tanzania</span></h4>

            </a>
          </li>
          <li>
            <a class="clinic-names" href="#india"><h4><span>India</span></h4></a>
          </li>
          <li>
            <a class="clinic-names" href="#dominican"><h4>Dominican <span>Republic</span></h4></a>
          </li>
      </ul>
  </nav>

  <!-- Project Header & Video Jumbotron Start -->
  <section class="projects">
    <div class="col-sm-10 col-sm-offset-2">
      <div class="clinics-landing img-responsive">
        <span>
          <a data-toggle="modal" data-target="#videoModal" class="animated infinite pulse">
            <%= image_tag "play-button.png", :class => "playbutton", :id => "playButton" %>
          </a>
        </span>
      </div>
    </div>
  </section>
  <!-- Project Header & Video Jumbotron End -->
  <!-- Modal Start -->
  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h1 class="modal-title text-center" id="myModalLabel">Introduction to WSC</h1>
        </div>
        <div class="modal-body">
          <div class="video-container">
            <iframe width="560" height="315" src="http://www.youtube.com/embed/YTKiqDJ_BC8" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modals End -->

  <section>
    <div class="container copy">
     <div class="row">
      <div class="col-sm-9 col-sm-offset-2">
          <h1 class="section-title">Clinics: Sustainability &amp Capacity-Building</h1>
          <p>Entrenching sustainable results in the communities with which it works is a fundamental principle of World Spine Care. While developing a model of care for spinal conditions is a primary focus of World Spine Care, it is equally important to WSC that the WSC clinics are embedded in the local health care system, creating not only a sustainable model of care, but also one that can be expanded throughout the country, with full cooperation of the government.</p>
        <h2>The ongoing sustainability of World Spine Care will be realized through:</h2>
        <p>
          <ul class="copy">
            <li><span>Training programs:</span> for the on-site training of local front-line healthcare practitioners in the screening, assessment, diagnosis and management of non-surgical spinal conditions.</li>
            <li><span>Train-the-Trainer program:</span> aimed at enabling practitioners to pass on their skills to others to expand present levels of care and, over time, to begin to address the chronic issue of health worker shortages.</li>
            <li><span>Educate the community:</span> on the risk factors for spinal conditions and the steps that can be taken to reduce their impact on the community.</li>
            <li><span>Academic scholarships:</span> for qualified residents to attain professional credentials in chiropractic, physiotherapy or spinal surgery through supported educational programs (conditional on a commitment to return to practice in their home communities).</li>
            <li><span>Long-term partnership:</span> with local Ministries of Health and applicable regional health system managers to establish the structures and processes required to plan, implement, and deliver spinal and musculoskeletal care on a permanent basis. The local Ministries of Health will eventually take over ownership, management, expansion, and sustainability of each project with continued WSC support.</li>
          </ul>
        </p>

      </div>
    </div>
  </section>
  
  <section>
    <div class="container copy">
     <div class="row">
      <div class="col-sm-9 col-sm-offset-2">
        <h1 class="section-title">Gender Equality</h1>
          <p>World Spine Care vigorously upholds gender equality in all its undertakings as a fundamental principle, and gender equality will be actively pursued through the following mechanisms:</p>
          <ul>
            <li>All World Spine Care clinics will be equally available to all local residents, with no gender bias.</li>
            <li>The training program being designed for front-line health care workers will incorporate gender equality as a foundational principle.</li>
            <li>It is expected that a strong majority of the front-line health care workers trained in the WSC model of care will be women.</li>
            <li>The advanced education offered to local students will be offered on a gender-neutral basis.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Random Text Blob Start -->
  <section class="project" id="botswana">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-2">
          <div class=" text-justify copy">
            <h1 class="section-title">Shoshong, Botswana: The Pilot Project</h1>
            <%= image_tag "shoshong1.jpg", :class => "img-responsive pull-right article-img"%>
            <p>In 2011, WSC launched a pilot project in the rural village of Shoshong, Botswana to spearhead the development of a viable model of care for spinal conditions in the developing world.</p>

            <h2>The Shoshong project is:</h2>
  
             <ul class="copy">
              <li><span>Developing sustainable capacity</span> for effective spinal care in Shoshong and the regional health district;</li>
              <li><span>Implementing and evaluating spinal care screening, assessment, and treatment protocols, </span>and the associated front-line health worker training program.</li>
              <li><span>Conducting research: </span>including an ethnographic study of the burden of spinal conditions in Shoshong, longitudinal treatment outcome studies, and research tracking the nature and frequency of musculoskeletal conditions occurring in patients who are living with HIV/AIDS.</li>
              <li><span>Integrating</span> into the health services provided by WSC such indigenous and alternative health care practices as are lawful in Botswana.</li>
            </ul> 
          <h2>Primary Care</h2>

            <p>Central to the Shoshong project was the opening of a spinal care clinic in the village of Shoshong, Botswana. In addition, the clinic will operate as the nexus of the extensive research being undertaken within the Shoshong project.</p>

          <h2>Tertiary Care</h2>
            <p>In support of the primary clinic, a diagnostic rehabilitation center has been established in the Mahalapye District Hospital to provide secondary diagnostic and treatment protocols for those patients who are unable to be appropriately managed in the Shoshong Clinic. Specialized follow-on care is provided for clinic patients, with WSC flying in volunteer surgical and rheumatological specialists as required, with the Mahalapye Teaching Hospital providing hospital services and support staff. When patient care requires advanced surgery and other advanced tertiary care, patients will be transferred to the major teaching hospitals in Gaborone, under arrangement with the Botswana Ministry of Health, WSC’s partner in the Shoshong project.</p>
          <h2>The expected outcomes of the Project are:</h2>
          <ul>
            <li><span>Improved health</span>  and healthcare of people with spinal conditions and injuries in rural and underserved communities;</li>
            <li><span>Skilled clinicians trained</span> in conventional spine care from the targeted rural and underserved communities; and</li>
            <li><span>Ongoing and sustainable spine care</span> in the targeted rural and underserved communities and the establishment of similar programs in other communities.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Random Text Blob Start -->
  <section class="project tanzania" id="tanzania">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-2">
          <div class=" text-justify copy">

            <h1 class="section-title">Magu Project, Tanzania</h1>
              <p>World Spine Care is about to launch a project in the Magu region of Tanzania.  The project is a formal collaboration between the Tanzania Home Economics Association (TAHEA), the Global Peace Network Canada (GPN), the Magu District health Council and World Spine Care.  Dr. Brian Budgell has taken the lead in the development of the project, which is scheduled to open in January 2015.</p>
          <h2>The Project Aims to:</h2>
          <ul class="copy">
            <li><span>Identify health care needs:</span> that could be addressed through the cooperation of the participants;</li>
            <li><span>Establish, staff and operate a conventional health care facility:</span> on land owned jointly by TAHEA and GPN Canada in Kanyama Village, Magu District;</li>
            <li><span>Establish, staff and operate a second conventional health care facility:</span> within Magu District Hospital;</li>
            <li><span>Establish occasional visiting health care services:</span> within rural Magu District;</li>
            <li><span>Recruit international volunteer health care professionals:</span> to assist the staff of the District Council Of Magu in providing health care services offered through the Project;</li>
            <li><span>Integrate</span> into the health services provided by WSC such indigenous and alternative health care practices as are lawful in Magu District , Tanzania.</li>
          </ul>
        <h2>The expected outcomes of the Project are:</h2>    
          <ul class="copy">
            <li><span>Improved health:</span> and healthcare of people with spinal conditions and injuries in rural and underserved communities;</li>
            <li><span>Skilled Clinicians</span> trained in conventional spine care from the targeted rural and underserved communities; and</li>
            <li><span>Ongoing and sustainable spine care </span> in the targeted rural and underserved communities and the establishment of similar programs in other communities.</li>
            <li><span>Establish occasional visiting health care services:</span> within rural Magu District;</li>
            <li><span>Recruit international volunteer health care professionals:</span> to assist the staff of the District Council Of Magu in providing health care services offered through the Project;</li>
            <li><span>Integrate</span> into the health services provided by WSC such indigenous and alternative health care practices as are lawful in Magu District , Tanzania.</li>
          </ul>          
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="project india" id="india">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-2">
          <div class=" text-justify copy">

            <h1 class="section-title">The Ranthambhore Project, India</h1>
            <%= image_tag "india2.jpg", :class => "img-responsive pull-right article-img"%>
            <h2>The expected outcomes of the Project are:</h2>  
              <p>In December 2010, during a visit to the Ranthambhore area Dr. Scott Haldeman, President of World Spine Care, met Dr. Governhan Singh Rathore, Executive Director of the Prakratik Society, which operates the Sevika Hospital in this area of India. It is the only hospital serving a population of nearly 250,000 inhabitants covering 96 villages along the Ranthambhore National Park in the State of Rajasthan, India.</p>
              <p>Dr. Governhan Singh Rathore agreed to assist World Spine Care in setting up a spine care clinic in the Sevika Hospital.  Dr. Geoff Outerbridge traveled to Ranthambhore in April 2011 to set up the World Spine Care clinic.</p>
              <p>At this time, there is no care available for patients with spinal conditions in this district of India other than traditional medicine and pain/anti-inflammatory medication.</p>
              <p>The Prakratik Society is currently building a new hospital with space for the WSC clinic and the project will be re-initiated once the hospital is complete. </p>           
          </div>
        </div>
      </div>
    </div>
  </section>            

  <section class="project dominican" id="dominican">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-2">
          <div class=" text-justify copy">

            <h1 class="section-title">Moca Project, Dominican Republic </h1>

            <%= image_tag "dominican1.jpg", :class => "img-responsive pull-right article-img"%>

            <p>World Spine Care is launching a project in the town of Moca in the Dominican Republic in November 2014.</p>

        <h2>The Project aims to:</h2>    
          <ul class="copy">
            <li><span>Perform an epidemiological study</span>  to determine the impact of spinal conditions in designated rural or underserved communities;</li>
            <li><span>Identify health care resources</span> in rural and underserved communities, which could be considered in the establishment of an evidence-based Spine care program;</li>
            <li><span>Establish Spine Care Centers</span> in rural or underserved communities in Dominican Republic</li>
            <li><span>Recruit volunteer spine care professionals</span>  to provide primary Spine care; and</li>
            <li><span>Integrate</span> into the health services provided by WSC such indigenous and alternative health care practices as are lawful in the Dominican Republic.</li>
          </ul> 

        <h2>The expected outcomes of the project are:</h2>    
          <ul class="copy">
            <li><span>Improved health</span> and healthcare of people with spinal conditions and injuries in rural and underserved communities;</li>
            <li><span>Skilled clinicians trained </span>in conventional spine care from the targeted rural and underserved communities; and</li>
            <li><span>Ongoing and sustainable spine care</span> in the targeted rural and underserved communities and the establishment of similar programs in other communities.</li>
            <li><span>Recruit volunteer spine care professionals</span>  to provide primary Spine care; and</li>
          </ul>           
        <h2>The project target locations are:</h2>    
          <ul class="copy">
            <li><span>Moca</span></li>          
            <li><span>Cayetano Germosen</span></li>          
          </div>
        </div>
      </div>
    </div>
  </section>
 