<% provide(:title, "Clinics") %>

 <div class="sub-nav hidden-xs hidden-sm">
        <ul class="projects underline" id="underline">
          <span>
          <li>
            <a href="#projects"><h4>Clinics</h4>
          </li>
          <li>
            <a href="#botswana"><h4><span>Botswana</span></h4>
            </a>
          </li>
          </li>
          <li>
            <a href="#india"><h4><span>India</span></h4>

            </a>
          </li>
          <li>
            <a href="#dominican"><h4>Dominican<span> Republic</span></h4></a>

          </li>
          <li>
            <a href="#tanzania"><h4><span>Tanzania</span></h4>

            </a>
          </li>
      </ul>
  </div>

  <!-- Project Header & Video Jumbotron Start -->
  <section class="project-landing" id="projects">
    <div class="col-sm-10 col-sm-offset-2">
      <div class="project-jumbo">
        <a data-toggle="modal" data-target="#videoModal" class="animated infinite pulse">
          <span class="glyphicon glyphicon-play-circle" id="playButton" style="font-size: 12rem"></span>
        </a>
      </div>
    </div>
  </section>
  <!-- Project Header & Video Jumbotron End -->
  <!-- Modal Start -->
  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h1 class="modal-title text-center" id="myModalLabel">Introduction to WSC</h1>
        </div>
        <div class="modal-body">
          <div class="video-container">
            <iframe width="560" height="315" src="http://www.youtube.com/embed/YTKiqDJ_BC8" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modals End -->

  <!-- Random Text Blob Start -->
  <section>
    <div class="container">
     <div class="row">
      <div class="col-sm-11 col-sm-offset-1">
          <div class="col-sm-3">
          </div>
          <div class=" text-justify copy">
            <p class="project-description"></p>
          </div>
      </div>
    </div>
  </section>

  <!-- Project Header & Video Jumbotron End -->

  <!-- Random Text Blob Start -->
  <section class="project botswana" id="botswana">
    <div class="container">
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
          <div class=" text-justify copy">

            <h1 class="project-title">Botswana Clinic</h1>

            <img class="img-responsive pull-right article-img" src="images/project-pics/botswana/shoshong1.jpg">

            <p>In June, a World Spine Care delegation traveled to Botswana to sign the Memorandum of Understanding between the Botswana Ministry of Health and World Spine Care.  This marked the launch of the Shoshong project with significant support and resources from the Government of Botswana.</p>

            <h3>Focus of the Project</h3>

            <p>The Shoshong project focuses on three activities:</p>

            <ol>
              <li>The development and implementation of a universal clinical protocol for the screening, assessment, and management of spinal disorders in the general population;</li>
              <li>The development and implementation of an associated culturally-appropriate front-line worker training program, and;</li>
              <li>The study of musculoskeletal disorders presenting in people living with HIV / AIDS.</li>
            </ol>

          <h3>The Impact of the Shoshong Project</h3>

          <p>The Shoshong project will:</p>

          <ol>
            <li>Develop a sustainable capacity for effective spinal care in Shoshong and the regional health district;</li>
            <li>Deploy and evaluate the WSC spinal care screening, assessment, and treatment protocols, and the associated front-line health worker training program. These protocols constitute a universal model of care for the spine – an essential and foundational tool in bringing spinal care to the world’s most disadvantaged; and,</li>
            <li>Conduct extensive research including pre and post epidemiological studies, three sub-studies evaluating the WSC model of care, and research tracking the nature and frequency of musculoskeletal conditions occurring in patients who are living with HIV / AIDS.</li>
          </ol>

          <h3>Primary Care</h3>

          <img class="img-responsive pull-right article-img" src="images/project-pics/botswana/shoshong2.jpg">

          <p>Central to the Shoshong project is the opening of a spinal care clinic in the village of Shoshong, Botswana. This clinic will offer spinal care services to the population of Shoshong – services which are otherwise unavailable. It is estimated that upwards of 600 patients will be treated per year at the clinic. In addition, the clinic will operate as the nexus of the extensive research being undertaken within the Shoshong project.</p>

          <p>In support of the primary clinic, a diagnostic rehabilitation center will be established in the Mahalapye District Hospital to provide secondary diagnostic and treatment protocols for those patients who are unable to be appropriately managed in the Shoshong Clinic. Specialized follow-on care will be provided for clinic patients, with WSC flying in volunteer surgical and rheumatological specialists as required, with the Mahalapye Teaching Hospital providing hospital services and support staff. When patient care requires advanced surgery and other advanced tertiary care, patients will be transferred to the major teaching hospitals in Gaborone, under arrangement with the Botswana Ministry of Health, WSC’s partner in the Shoshong project.</p>

          <h3>Local Capacity Building</h3>

          <p>Local capacity building is fundamental to the Shoshong project. WSC is directly building local capacity through a variety of mechanisms:</p>

          <ul>
            <li>The WSC clinic will be used to provide training for Botswana health care professions and students.</li>
            <li>A select group of front-line health care workers will be trained as trainers, capable of training further front line health care workers in the use of the WSC spinal care protocols.</li>
            <li>World Spine Care and its partners are providing educational scholarships for advanced professional training of Botswana students in North American chiropractic and physical therapy faculties. After completing their studies, the Shoshong project will see these new professionals staffing the Shoshong clinic and future additional WSC clinics in Botswana.</li>
            <li>Further, arrangements are being made to facilitate medical specialists from Botswana to travel and complete fellowship training in spinal surgery or one of the spine care medical specialties at the major programs around the world.</li>
          </ul>

          <h3>Project Schedule</h3>

          <p>The Shoshong clinic opens in late 2011, with project activities expanding through 2011 and 2012. Hand-over of responsibility for operation of the Shoshong clinic to the Botswana Ministry of Health is planned for 2015, with the continued partnership and support of WSC.</p>

          <h3>Our Partners</h3>

          <p>World Spine Care is building an international coalition of partners and supporters for the Shoshong project, including:</p>

          <ul>
            <li>The Botswana Ministry of Health</li>
            <li>The Mahalapye Teaching Hospital</li>
            <li>Local Spine Care Clinicians</li>
          </ul>

          <h3>Get More Information</h3>

          <p>For more information on World Spine Care’s project in Shoshong, Botswana, contact us at <a href="mailto:info@worldspinecare.org">info@worldspinecare.org</a>.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Random Text Blob Start -->
  <section class="project india" id="india">
    <div class="container">
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
          <div class=" text-justify copy">

            <h1 class="project-title">India Clinic</h1>

            <img class="img-responsive pull-right article-img" src="images/project-pics/india/india2.jpg">

            <p>In December 2010, during a visit to the Ranthambhore area Dr. Scott Haldeman, President of World Spine Care, met Dr. Governhan Singh Rathore, Executive Director of the Prakratik Society which operates the Sevika Hospital in this area of India. It is the only hospital serving a population of nearly 250,000 inhabitants covering 96 villages along the Ranthambhore National Park in the State of Rajasthan, India.</p>

            <p>Dr. Haldeman and Joan Haldeman, clinical co-coordinator for WSC, visited the Sevika Hospital, and discussed the possibility of starting a World Spine Care Center at the hospital since, at this time, there is no care available for patients with spinal disorders in this district of India.</p>

            <p>Dr. Governhan Singh Rathore has agreed to assist World Spine Care in setting up a spine care clinic in the Sevika Hospital. Dr. Geoff Outerbridge traveled to Ranthambhore in April to set up the World Spine Care clinic that will be staffed by a volunteer full time primary spine care clinician in the fall of 2011.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="project dominican" id="dominican">
    <div class="container">
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
          <div class=" text-justify copy">

            <h1 class="project-title">Dominican Republic Clinic</h1>

            <img class="img-responsive article-img pull-right" src="images/project-pics/dominican/dominican1.jpg">

            <p>World Spine Care is currently working on the development of a project in the town of Moca in the Dominican Republic.</p>

            <h3>The Project aims to:</h3>

            <ul>
              <li>Perform an epidemiological study to determine the impact of Spinal Diseases;</li>
              <li>Disorders in designated rural or underserved communities;</li>
              <li>Identify health care resources in rural and underserved communities, which could be considered in the establishment of an evidence-based Spine care program;</li>
              <li>Establish Spine Care Centers in rural or underserved communities in Dominican Republic;</li>
              <li>Recruit volunteer health care professionals to provide primary Spine care; and</li>
              <li>Ensure interaction of health professionals with local care providers and traditional healers to share knowledge on the assessment and management of spinal problems and harmonize treatment efforts.</li>
            </ul>

            <h3>The expected outcomes of the Project are:</h3>

            <ul>
              <li>Improved health and healthcare of people with Spinal Disorders and Injuries in rural and underserved communities;</li>
              <li>Trained and skilled individuals on Spine care from the targeted rural and underserved communities; and</li>
              <li>Ongoing and sustainable Spine care in the targeted rural and underserved communities and the establishment of similar programs in other communities.</li>
            </ul>

            <h3>The initial Project target area are:</h3>

            <ul>
              <li>Moca; and</li>
              <li>Cayetano Germosen.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="project tanzania" id="tanzania">
    <div class="container">
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
          <div class=" text-justify copy">

            <h1 class="project-title">Tanzania</h1>

            <img class="img-responsive article-img pull-right" src="images/project-pics/tanzania/tanzania2.jpg">

            <p>World Spine Care is currently working on the development of a project in the Magu region of Tanzania.  The project is a collaboration between the Tanzania Home Economics Association (TAHEA), the Global Peace Network Canada (GPN), the Magu District health Council and World Spine Care.  Dr. Brian Budgell has taken the lead in the development of the project which will be ready to open in the second half of 2014.</p>

            <h3>The Project aims to:</h3>

            <ul>
              <li>monitor health and the determinants of health of residents of Magu District;</li>
              <li>identify health care needs that could be addressed through the cooperation of the Participants;</li>
              <li>establish, staff and operate a health care facility on land owned jointly by TAHEA and GPN Canada in Kanyama Village, Magu District;</li>
              <li>establish, staff and operate a health care facility within Magu District Hospital, Magu District</li>
              <li>establish, staff and operate occasional visiting health care services within rural Magu District;</li>
              <li>recruit international volunteer health care professionals to assist the staff of the District Council Of Magu in providing health care services offered through the Project; and</li>
              <li>integrate into the health service provided through the Project such indigenous and alternative health care practices as are lawful in Magu District, Tanzania.</li>
            </ul>

            <img class="img-responsive article-img-l pull-left" src="images/project-pics/tanzania/tanzania3.jpg">

            <h3>The exepcted outcomes of this Project are:</h3>

            <ul>
              <li>Improved health and healthcare of people with Spinal Disorders and Injuries in rural and underserved communities;</li>
              <li>Trained and skilled individuals on Spine care from the targeted rural and underserved communities; and</li>
              <li>Ongoing and sustainable Spine care in the targeted rural and underserved communities and the establishment of similar programs in other communities.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>