<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h1>Thank you for making a donation to World Spine Care!</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <a class="btn btn-lg btn-primary btn-block" href="https://www.canadahelps.org/dn/15846">From Canada - Donate Now</a>
        </div>
        <div class="col-sm-5">
          <a class="btn btn-lg btn-primary btn-block" href="https://www.z2systems.com/np/clients/spinecare/donation.jsp">From USA/International - Donate Now</a>
        </div>
      </div>

      <br>
      <p>Together, we are bringing effective spine care directly to those in need. Your support is crucial for two reasons:</p>
      <ol>
        <li>Your donation is essential in funding WSC’s clinics in Botswana, Tanzania, Dominican Republic, and India, and;</li>
        <li>Making a donation sends a clear message that the WSC vision is resonating. Demonstrating broad support for the WSC vision is a key factor in creating a sustainable future for our organization.</li>
      </ol>

      <p>As a young organization, your donation comes at a crucial time. On behalf of the World Spine Care community, thank you.</p>
    </div>
  </div>
</div>


