<% provide(:title, "Take Action") %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>It's easy to help...</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <!-- I want to donate section -->
      <div class="donate-box">
        <%= link_to "I Want To Donate!", signup_path, class: "btn btn-lg btn-primary action-button" %>


      </div>

    </div>

    <div class="col-sm-6">
      <!-- I want to volunteer section -->
      <div class="volunteer-box">
        <%= link_to "I Want To Volunteer!", signup_path, class: "btn btn-lg btn-primary action-button" %>
      </div>
    </div>

  </div>
</div>

