<% provide(:title, "Volunteer") %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h1 class="section-header">Get Involved with World Spine Care!</h1>
        </div>
      </div>
      <div class="copy">
        <p>At this time World Spine Care has developed clinical protocols that have been implemented in the pilot programs in Shoshong and Mahalapye, Botswana and Ranthambhore, India. WSC is about to launch clinics in Moca, Dominican Republic and Mwanza, Tanzania over the next 6 months.</p>

        <p>Treatment provided in all clinics will follow evidence based protocols as established by the clinical team. Each clinic will be involved in a research program to determine outcomes.</p>

        <p>Students and volunteers are welcome to submit their names and contact information if they are interested in participating in a world spine care program in the future.</p>

        <p><strong>For further information, or to apply for a position please contact us at <a href="mailto:info@worldspinecare.org">info@worldspinecare.org</a></strong></p>
      </div>
      
      <h3 class="section-header">World Spine Care has currently established the following volunteer and educational programs:</h3>

      <div class="profile">
      <h3>Volunteer programs:</h3>

      <h4>Primary Spine Clinician – Management of a WSC center</h4>

      <ul>
        <li><p>Qualified and licensed chiropractor, medical doctor, osteopathic physician, or physiotherapist with advanced training.</p></li>
        <li><p>Clinicians follow the defined evidence based protocols established by the WSC clinical team.</p></li>
        <li><p>Clinicians are responsible for: Patient care and managing the WSC clinic; hosting, training and supervising volunteers; managing the WSC residence; regular reporting to WSC; documenting (writing, photography and video) events at the clinic; communication with local health care authorities and Ministry of Health officials; collaboration with local health care workers; management of WSC databases and files.</p></li>
      </ul>
    </div>
    <div class="profile">    
      <h4>Volunteer Associate clinician – working with a Primary Spine Care Clinician</h4>

      <ul>
        <li><p>The interested clinician must be prepared to spend at least a month at a WSC clinic.</p></li>
        <li><p>Clinicians follow the defined evidence based protocols established by the WSC clinical team.</p></li>
        <li><p>Clinicians will work under the supervision of the primary spine practitioner.</p></li>
        <li><p>Volunteers are responsible for all expenses.</p></li>
      </ul>
    </div>
    <div class="profile">    
      <h4>Volunteer medical or surgical consultant specialist</h4>

      <ul>
        <li><p>Orthopedic spine surgeon, neurosurgeon, rheumatologist, physiatrist, neurologist, or psychiatrist.</p></li>
        <li><p>Other details and requirements for this position are being developed.</p></li>
      </ul>
    </div>
    </div>
  </div>
</div>