<% provide(:title, "World Spine Day") %>
	<section class="wsday-landing">

		<div class="video-overlay">
			<div class="container">
				<div class="row">
					<div class="center">	
						<div class="text-overlay"><h1>World Spine Day<br>October 18</h1></div>
					</div>
				</div>
			</div>
		</div>

		<video autoplay="true" loop="true" muted="true">
			<source src="http://world-spine-care.s3.amazonaws.com/straighten-up.mp4" type="video/mp4">
			<source src="http://world-spine-care.s3.amazonaws.com/straighten-up.webm" type="video/webm">
		</video>

	</section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 secondary-callout-boxes center">
				<h1>World Spine Day</h1>
					<p>Every year on October 16th people from around the world join together to raise awareness on World Spine Day as part of the Bone and Joint Decade’s Action Week.</p>
					<p>Spinal disorders represent a global health care crisis, affecting over a billion people worldwide and contributing more to the global burden of disease than HIV, more than malaria, more than diabetes, more than stroke, more than lung and breast cancer combined.</p>
					<p>World Spine Care has teamed up with World Spine Day and the Bone and Joint Decade to raise funds to bring spine care to communities in need. </p>
			</div>
		</div>
	</div>
