<% provide(:title, "World Spine Day") %>
	<section class="wsday-landing">

		<div class="overlay">
			<div class="container">
				<div class="row">
					<div class="center">	
						<div class="text-overlay col-sm-12"><h1>World Spine Day<br><span>- October 18 -</span></h1></div>
					</div>
				</div>
			</div>
		</div>
		<video autoplay="true" loop="true" muted="true">
			<source src="http://world-spine-care.s3.amazonaws.com/straighten-up.mp4" type="video/mp4">
			<source src="http://world-spine-care.s3.amazonaws.com/straighten-up.webm" type="video/webm">
		</video>

	</section>
	<section class="copy">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 secondary-callout-boxes center">
					<h1>World Spine Day</h1>
						<p>Every year on October 16th people from around the world join together to raise awareness on World Spine Day as part of the Bone and Joint Decade’s Action Week.</p>
						<p>Spinal disorders represent a global health care crisis, affecting over a billion people worldwide and contributing more to the global burden of disease than HIV, more than malaria, more than diabetes, more than stroke, more than lung and breast cancer combined.</p>
						<p>World Spine Care has teamed up with World Spine Day and the Bone and Joint Decade to raise funds to bring spine care to communities in need. </p>
				</div>
			</div>
		</div>
	</section>
<section class="wsd-support">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 secondary-callout-boxes center">
								<hr>
					<h2 class="center">How You Can Help</h2>
					
				<div class="col-sm-4">	
					<div class="co-box">
	          <%= image_tag "yoga2.svg", :class => "icon"%>
              <h3>Practitioners</h3>
					</div>              
						<h3>Donate $3 for every treatment provided on World Spine Day</h3>
				</div>
					
				<div class="col-sm-4">	
					<div class="co-box">
	          <%= image_tag "yoga4.svg", :class => "icon"%>
	          	<h3>Yoga Teachers</h3>
					</div>	          	
						<h3>Host a World Spine Care Karma class at your yoga studio</h3>
				</div>
					
				<div class="col-sm-4">	
					<div class="co-box">
	          <%= image_tag "yoga.svg", :class => "icon"%>
              <h3>Donors</h3>
	        </div>
	        	<h3>Make a donation to World Spine Care’s World Spine Day Campaign</h3>
				</div>				
			</div>
		</div>
	</div>
</section>
