@font-face {
    font-family: 'ProximaNova-Reg';
    src: url('/assets/fonts/ProximaNova-Reg.otf') format('opentype'); /* IE6-IE8, Modern Browsers */ 
}

@font-face {
    font-family: 'ProximaNova-RegIt';
    src: url('/assets/fonts/ProximaNova-RegIt.otf') format('opentype'); /* IE6-IE8, Modern Browsers */
}

@font-face {
    font-family: 'ProximaNova-Thin';
    src: url('/assets/fonts/ProximaNova-Thin.otf') format('opentype'); /* IE6-IE8, Modern Browsers */
}

@font-face {
    font-family: 'ProximaNova-ThinIt';
    src: url('/assets/fonts/ProximaNova-ThinIt.otf') format('opentype'); /* IE6-IE8, Modern Browsers */ 
}
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('/assets/fonts/ProximaNova-Bold.otf') format('opentype'); /* IE6-IE8, Modern Browsers */ 
}
@font-face {
    font-family: 'ProximaNova-Sbold';
    src: url('/assets/fonts/ProximaNova-Sbold.otf') format('opentype'); /* IE6-IE8, Modern Browsers */ 
}
@font-face {
    font-family: 'ProximaNova-BoldIt';
    src: url('/assets/fonts/ProximaNova-BoldIt.otf') format('opentype'); /* IE6-IE8, Modern Browsers */ 
}

