@import "bootstrap-sprockets";
@import "bootstrap";
// @import "fonts";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$light-blue: rgba(86, 178, 228, 1);
$light-blue-transp: rgba(86, 178, 228, 0.5);
$medium-blue: rgba(44, 146, 204, 0.9);
$dark-blue: rgba(58, 103, 127, 0.9);
$dark-blue-transp: rgba(59, 104, 128, 0.5);
$wsc-gray: rgba(159,159,159,0.9);
$light: 300;
$white: #fff;
$medium: 0.2rem;
$tall-line: 4rem;


// ProximaNova Font Type

// $fontregular: 'ProximaNova-Reg';
// $fontregularit: 'ProximaNova-RegIt';
// $fontthin: 'ProximaNova-Thin';
// $fontthinit: 'ProximaNova-ThinIt';
// $fontbold: 'ProximaNova-Bold';
// $fontsbold: 'ProximaNova-Sbold';
// $fontboldit: 'ProximaNova-BoldIt';
$fontregular: Georgia, serif;
$fontregularit: Georgia, serif;
$fontthin: Georgia, serif;
$fontthinit: Georgia, serif;
$fontbold: Georgia, serif;
$fontsbold: Georgia, serif;
$fontboldit: Georgia, serif;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin background-size {

}

/* universal */

html {
  overflow-y: scroll;
}

body {
  margin-top: 65px;
  font-family: Georgia;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

hr {
  padding: 1rem 0;
}

/* typography */


h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
  font-family: Georgia;
}

h2 {
  margin-bottom: 30px;
  font-weight: normal;
  letter-spacing: $medium;
  line-height: $tall-line;
  font-family: Georgia;
}

h3, h4 {
  font-family: Georgia;
}

h5 {
  font-family: Georgia;
}
h6 {
  font-family: Georgia;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: justify;
  font-family: Georgia;
}
a {
  text-decoration: none;
  color:$light-blue;
  font-family: Georgia;
 	&:hover {
    text-decoration: none;
    color: $medium-blue;
  }
}
.copy {
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
}
.copy p:first-of-type::first-letter {
  font-size:  3.25em;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  width: 100px;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 9px 0 9px 0;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.navbar-default{
  background-color: $wsc-gray;
  border: none;
  .navbar-nav > li > a {
    color: $white;
    font-weight: $light;
    transition: all 0.2s ease;
    -webkit-transition:background 0.2s ease;
      }
  .navbar-nav .navbar-right > li > a:focus, .navbar-right > li > a:hover {
    -webkit-transition: 0.2s all;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: initial;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
    color: $light-blue;
  }
 .dropdown-menu {
  background-color: $medium-blue;
 }
}
// .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus

/*
~~~
SUBNAV FOR ABOUT US AND PROJECTS
~~~
*/
/*.sub-nav .projects {
  padding-top: 90px;
}*/
.sub-nav {
  position: fixed;
  display: block;
  border-right: 3px solid $light-blue;
  width: 160px;
  margin: 0 auto;
  img {
    width: 7rem;
  }
    h4 {
      margin: -0.2rem 0;
    }
      li {
        margin: 0rem;
        text-decoration: none;
        list-style: none;
        text-align: center;
        &:hover {
          text-decoration: none;
        }
      }
  .projects li {
    margin: 0 0;
    padding: 1.5rem 0;
    text-align: left;
  }
  .current a {
    color: $light-blue;
    position: relative;
    outline: none;
    text-decoration: none;
  }
  .current span {
    border-bottom: $light-blue;
  }
  .current img {
    border-bottom: $light-blue;
  }
}

.about-icon {
  display: inline-block;
  width: 60px;
  margin: 1rem auto;
  padding: 1rem;
  text-decoration: none;
}
.sub-nav .projects> li {
  margin-top: -30px;
}
.projects .about-icon {
  width: 70%;
  height: 150px;
  margin: 0;
}
.about-icon-blank {
  margin: 0 0;
}
.about-links h4 {
  text-align: left;
}
// ***


.btn {
  background-color: $light-blue;
  border: 1px solid $light-blue;
  transition: all 0.2s ease;
  -webkit-transition:background 0.2s ease;
  &:hover{
    background-color: $medium-blue;
    border: 1px solid $medium-blue;
  }
}

.landing {
  background-image: url('field-work.jpg');
  // background: url(field-work.jpg) 100% 100% no-repeat;
  // background-image: url(field-work.jpg);
  background-position-x: 78%;
  background-position-y: 100%;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(150, 183, 174);
  position: relative;
  min-height: 800px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
    .mission {
      margin-top: 10%;
      text-align: center;
      h2 {
        color: $white;
      }
    }
}
.center {
  text-align: center;
}
.statement {
  background: url('field-work2.jpg') 100% 100%;
  background-image: url('field-work2.jpg');
  background-position-x: 78%;
  background-position-y: 100%;
  background-size: auto 100%;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: auto 100%;
  min-height: 638px;
  h2 {
    color: $white;
    font-family: Georgia;
  }
}


.bend-bricks {
  position: relative;
  overflow: hidden;
  min-height: 900px;
  width: 100%;
  background-repeat: no-repeat no-repeat;
  background-position: 0 0;
  background-image: url('bend-bricks.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.second-callout {
  background-color: $wsc-gray; 
  // &::before {
  // content: "";
  // width: 0px;
  // height: 0px;
  // position: absolute;
  // border-style: solid;
  // border-width: 1.5em 1.469em 0 1.469em;
  // border-color: #75A348 transparent transparent transparent;
  // left: 50%;
  // margin-left: -0.496em;
  // }
  &::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-style: solid;
  border-width: 1.5em 1.469em 0 1.469em;
  border-color: #9f9f9f transparent transparent transparent;
  left: 50%;
  margin-left: -0.496em;
  }
}

.statement-two {
  position: relative;
  min-height: 600px;
  background-image: url('bend-bricks2.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  .info-section {
    padding-left: 0.25em;
    padding-right: 0.25em;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 48em) {
      padding-left: 0.75em;
      padding-right: 0.75em;
    }
    @media (min-width: 62.5em){
      padding-left: 0.25em;
      padding-right: 0.25em;
      max-width: 50em;
      margin-left: auto;
      margin-right: auto;
    }
    .video-box {
      background: #000;
      background-image: initial;
      background-position-x: initial;
      background-position-y: initial;
      background-size: initial;
      background-repeat-x: initial;
      background-repeat-y: initial;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;
      background-color: rgb(0, 0, 0);
      padding-bottom: 56.25%;
      height: 0;
      margin-bottom: 2em;
      position: relative;
      opacity: 0.85;
       .placeholder {
        background: url('yoga.jpg') center top no-repeat;
        background-image: url('yoga.jpg');
        background-position-x: 50%;
        background-position-y: 0%;
        background-size: cover;
        background-repeat-x: no-repeat;
        background-repeat-y: no-repeat;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
        opacity: 0.85;
        -webkit-transition: 0.2s linear all;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        -webkit-transition-delay: initial;
        -moz-transition: 0.2s linear all;
        -ms-transition: 0.2s linear all;
        -o-transition: 0.2s linear all;
        transition: 0.2s linear all;
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        transition-delay: initial;
        cursor: pointer;
        z-index: 1;
      }
      &:hover {
        -webkit-transition: 0.2s linear all;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        -webkit-transition-delay: initial;
        -moz-transition: 0.2s linear all;
        -ms-transition: 0.2s linear all;
        -o-transition: 0.2s linear all;
        transition: 0.2s linear all;
        transition-property: all;
        transition-duration: 0.2s;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
        -webkit-transform: scale(1.008);
        -moz-transform: scale(1.008);
        -ms-transform: scale(1.008);
        -o-transform: scale(1.008);
        transform: scale(1.008);
      }
        .playbutton {
          // ~~worrisome!
          padding-top: 15%;
        }
    }
  }

/*Sections*/

.co-box {
  padding: 2rem;
  .icon {
    display: block;
    min-width: 70%;
    margin: 0 auto;
  }
}

.tutu {
  background: url('tutu.jpg') center no-repeat;
  background-image: url('tutu.jpg');
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: 100%;
  background-size:  cover;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: auto 100%;
  min-height: 600px;
      .text-overlay h2{
        color: $white;
        font-size:30px;
        text-align: left;
        padding: 5rem 0;
        font-family: Georgia;
  }
}

.clinics {
  background-color: $light-blue;
    &::after {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-style: solid;
      border-width: 1.5em 1.469em 0 1.469em;
      border-color: #56B2E4 transparent transparent transparent;
      left: 50%;
      margin-left: -0.496em;
    }
}
.musk {
  background: url('elon.jpg') center bottom no-repeat;
  background-image: url('elon.jpg');
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: 100%;
  background-size: auto 100%;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: auto 100%;
  min-height: 600px;
      .text-overlay h2{
        color: $white;
        font-size:30px;
        text-align: right;
        padding: 5rem 0;
        font-family: Georgia;
  }
}


.our-partners {
  background-color: $white;
  padding: 2rem;
  img {
    height: 50px;
  }
  h2 {
    padding: 1rem;
  }
}


/* ============================
Take Action Page */

.ta-donate-box {
  background-image: url('woman-carry.jpg');
  background-size: cover;
  height: 500px;
  border-radius: 5px;
}

.ta-volunteer-box {
  background-image: url('bend-bricks.jpg');
  background-size: cover;
  height: 500px;
  border-radius: 5px;
}

.ta-action-button {
  display: block;
  margin: 0 auto;
}










/* footer */

footer {
  margin-top: px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    margin: 1em 0;
    float: right;
    list-style: none;
    li {
      margin-left: 15px;
      display: block;
    }
  }
}

.socialIcon {
  float: left;
  img{
    width: 4em;
  }
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}