@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$light-blue-transp: rgba(86, 178, 228, 0.5);
$dark-blue: rgba(58, 103, 127, 0.9);
$dark-blue-transp: rgba(59, 104, 128, 0.8);
$wsc-gray: rgba(159,159,159,1.0);
$wsc-gray-transp: rgba(159,159,159,0.8);
$light: 300;
$white: #fff;
$medium: 0.2rem;
$tall-line: 4rem;
$light-gray: rgba(242,242,242,1.0); 
$black: #000;


// ProximaNova Font Type

$fontregular: 'ProximaNova-Reg';
$fontregularit: 'ProximaNova-RegIt';
$fontthin: 'ProximaNova-Thin';
$fontthinit: 'ProximaNova-ThinIt';
$fontbold: 'ProximaNova-Bold';
$fontsbold: 'ProximaNova-Sbold';
$fontboldit: 'ProximaNova-BoldIt';
// $fontregular: Georgia, serif;
// $fontregularit: Georgia, serif;
// $fontthin: Georgia, serif;
// $fontthinit: Georgia, serif;
// $fontbold: Georgia, serif;
// $fontsbold: Georgia, serif;
// $fontboldit: Georgia, serif;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin background-size {

}

/* universal */

html {
  overflow-y: scroll;
}

body {
  margin-top: 50px;
  font-family: $fontregular;
  position: relative;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

hr {
  padding: 1rem 0;
  font-weight: bold;
  color: $wsc-gray;
}

/* typography */


h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
  font-family: $fontsbold;
}

h2 {
  margin-bottom: 30px;
  font-weight: normal;
  letter-spacing: $medium;
  line-height: $tall-line;
  font-family: $fontregular;
}

h3, h4 {
  font-family: $fontregular;
}

h5 {
  font-family: $fontthin;
}
h6 {
  font-family: $fontthin;
}
p {
  font-size: 1.3em;
  line-height: 1.7em;
  text-align: justify;
  font-family: $fontthin;
}
a {
  text-decoration: none;
  color:$dark-blue;
  font-family: $fontthin;
 	&:hover {
    text-decoration: none;
    color: $dark-blue;
  }
}
ul {
  text-decoration: none;
  font-weight: 300;
}
.copy {
  font-family: $fontthin;
  line-height: 2.5rem;
  li {
    font-size: 1.3em;
    span {
      font-family: $fontregular;
    }
  }
  h2 {
    text-align: left;
  }
}
// .copy p:first-of-type::first-letter {
//   font-size:  3.25em;
// }
/* header */

#logo {
  float: left;
  margin-right: 10px;
  width: 100px;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 9px 0 9px 0;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.navbar-default{
  background-color: $light-gray;
  border: none;
  .navbar-nav > li > a {
    color: $dark-blue;
    font-weight: $medium;
    font-family: $fontregular;
    font-size: 1.5rem; 
    line-height: 1.5rem;
    transition: all 0.2s ease;
    -webkit-transition:background 0.2s ease;
      }
  .navbar-nav .navbar-right > li > a:focus, .navbar-right > li > a:hover {
    -webkit-transition: 0.2s all;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: initial;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
    line-height: 1.2rem;
  }
 .dropdown-menu {
  background-color: $dark-blue;
 }
}
// .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus

/*
~~~
SUBNAV FOR ABOUT US AND PROJECTS
~~~
*/
/*.navbar-scroll .projects {
  padding-top: 90px;
}*/

.clinic-names {
  text-align: left;
  margin-left: 20px;
}

.navbar-scroll {
  position: fixed;
  display: block;
  // border-right: 3px solid $dark-blue;
  width: 160px;
  margin-top: 25px;
  color: $dark-blue;
  position: relative;
  outline: none;
  text-decoration: none;  
  .nav-tabs {
    border-bottom: none !important;
    > li > a:hover{
      border-color: #fff #fff #fff;
    }    
    .active {
      color: #555555;
      border-bottom: transparent;
      cursor: default;  
      border-right: 3px solid $dark-blue; 
      a {
        background-color: initial;
      }       
      span {
        border-bottom: 3px solid $wsc-gray;  
      }
    }
    a {
      border: none !important;
    }
  }
  img {
    width: 7rem;
  }
    h4 {
      margin: -0.2rem 0;
    }
      li {
        margin: 0rem;
        text-decoration: none;
        list-style: none;
        text-align: center;
        &:hover {
          text-decoration: none;
        }
      }
  .projects li {
    margin: 3rem 0;
    padding: 1.5rem 0;
  }
  .current a {
    color: $dark-blue;
    position: relative;
    outline: none;
    text-decoration: none;
  }
  .current span {
    border-bottom: $light-gray;
  }
  .current img {
    border-bottom: $dark-blue;
  }
}

#clinic-title {
  font-family: $fontbold;
  font-size: 3rem;
}
.navbar-scroll {
  position: fixed;
  display: block;
  // border-right: 3px solid $dark-blue;
  width: 160px;
  margin: 0 auto;
}
.navbar-scroll img {
  display: block;
  width: 7rem;
}
.navbar-scroll h4 {
  margin: -0.2rem 0;
}
/*.navbar-scroll .projects {
  padding-top: 90px;
}*/
.navbar-scroll li {
  margin: 0rem;
  text-decoration: none;
  list-style: none;
  text-align: center;
}
.navbar-scroll li:hover{
  text-decoration: none;
}
.projects .nav .nav-tabs span li {
  margin: 0 0;
  padding: 1.5rem;
}
.navbar-scroll .projects> li {
  margin-top: -30px;
}

.current a {
  color: rgb(44, 146, 204);
  position: relative;
  outline: none;
  text-decoration: none;
}
// .current span {
//   border-bottom: 3px solid rgb(86, 178, 228);
// }
// .current img {
//   border-bottom: 3px solid rgb(86, 178, 228);
// }
.nav-tabs a:hover {
  text-decoration: none !important;
}

.about-icon {
  display: inline-block;
  width: 60px;
  margin: 1rem auto;
  padding: 1rem;
  text-decoration: none;
}

.projects {
  margin-top: 50px; 
}
.projects .about-icon {
  width: 70%;
  height: 150px;
  margin: 0;
}
.about-icon-blank {
  margin: 0 0;
}
.about-links h4 {
  text-align: left;
}
// ***


.btn {
  background-color: $dark-blue-transp;
  border: none;
  transition: all 0.2s ease;
  -webkit-transition:background 0.2s ease;
  margin: 0 2rem;
  &:hover{
    background-color: $wsc-gray-transp;
    border: none;
  }
}

.landing {
  background-image: url('field-work.jpg');
  // background: url(field-work.jpg) 100% 100% no-repeat;
  // background-image: url(field-work.jpg);
  background-position-x: 78%;
  background-position-y: 100%;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(150, 183, 174);
  position: relative;
  min-height: 800px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
    .mission {
      margin-top: 10%;
      text-align: left;
      h2 {
        color: $white;
        font-family: $fontsbold;
      }
    }
}
.center {
  text-align: center;
  margin: 0 auto;
}
.middle {
  vertical-align: middle;
}

.statement {
  background: url('field-work2.jpg') 100% 100%;
  background-image: url('field-work2.jpg');
  background-position-x: 78%;
  background-position-y: 100%;
  background-size: auto 100%;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: auto 100%;
  min-height: 638px;
  h1 {
    line-height: 4rem;
    color: $white;
    font-family: $fontsbold;
  }
}
.heading {
  background: url('heading.png') center bottom no-repeat;
  background-image: url('heading.png');
  background-position-x: 50%;
  background-position-y: 100%;
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.bend-bricks {
  position: relative;
  overflow: hidden;
  min-height: 900px;
  width: 100%;
  background-repeat: no-repeat no-repeat;
  background-position: 0 0;
  background-image: url('bend-bricks.jpg');
  background-position-x: 40%;
  background-position-y: 100%;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    .mission {
      margin-top: 20%;
      text-align: center;      
      h2 {
        color: $white;
        font-family: $fontsbold;
      }
      img {
        margin: 0 auto;
      }
      .scroll-down {
        margin: 0 auto;
      }
    }  
}
.scroll-down {
  width: 210px;
  text-align: center;
  padding-top: 5%;
}

.second-callout {
  background-color: $light-gray; 
  h3 {
    text-align: justify;
  }
  // &::after {
  // content: "";
  // width: 0px;
  // height: 0px;
  // position: absolute;
  // border-style: solid;
  // border-width: 1.5em 1.469em 0 1.469em;
  // border-color: #f2f2f2 transparent transparent transparent;
  // left: 50%;
  // margin-left: -0.496em;
  // }
}

.statement-two {
  position: relative;
  min-height: 600px;
  background-image: url('bend-bricks2.jpg');
  background-position-x: 40%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  min-height: 638px;  
    h2 {
      color: $white;
    }
}
  .info-section {
    padding-left: 0.25em;
    padding-right: 0.25em;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 48em) {
      padding-left: 0.75em;
      padding-right: 0.75em;
    }
    @media (min-width: 62.5em){
      padding-left: 0.25em;
      padding-right: 0.25em;
      max-width: 50em;
      margin-left: auto;
      margin-right: auto;
    }
    h1 {
      color: white;
    }
    .video-box {
      background: #000;
      background-image: initial;
      background-position-x: initial;
      background-position-y: initial;
      background-size: initial;
      background-repeat-x: initial;
      background-repeat-y: initial;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;
      background-color: rgb(0, 0, 0);
      padding-bottom: 56.25%;
      height: 0;
      margin-bottom: 2em;
      position: relative;
      opacity: 0.85;
      .playbutton {
        opacity: 1;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);        
      }
       .placeholder {
        background: url('yoga.jpg') center top no-repeat;
        background-image: url('yoga.jpg');
        background-position-x: 50%;
        background-position-y: 0%;
        background-size: cover;
        background-repeat-x: no-repeat;
        background-repeat-y: no-repeat;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
        opacity: 0.85;
        -webkit-transition: 0.2s linear all;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        -webkit-transition-delay: initial;
        -moz-transition: 0.2s linear all;
        -ms-transition: 0.2s linear all;
        -o-transition: 0.2s linear all;
        transition: 0.2s linear all;
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        transition-delay: initial;
        cursor: pointer;
        z-index: 1;
        img {
          opacity: 1.0;
        }
      }
      .placeholder-two {
        background: url('straighten-up.jpg') center top no-repeat;
        background-image: url('straighten-up.jpg');
        background-position: -175px;
        @media (min-width: 200px) and (max-width: 400px) {
        }
      }
      &:hover {
        -webkit-transition: 0.2s linear all;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        -webkit-transition-delay: initial;
        -moz-transition: 0.2s linear all;
        -ms-transition: 0.2s linear all;
        -o-transition: 0.2s linear all;
        transition: 0.2s linear all;
        transition-property: all;
        transition-duration: 0.2s;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
        -webkit-transform: scale(1.008);
        -moz-transform: scale(1.008);
        -ms-transform: scale(1.008);
        -o-transform: scale(1.008);
        transform: scale(1.008);
      }
        .playbutton {
          // ~~worrisome!
          padding-top: 15%;
        }
    }
  }

/*Sections*/
.second-callout {
  h2 {
    padding: 5rem 0;
  }
  .co-box {
    padding: 2rem;
    margin: 0 auto;
    p {
      padding: 1rem;
    }
    h3 {
      height: 50px;
      vertical-align: middle;
    }
    .icon {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  }
}

.tutu {
  background: url('tutu.jpg') center no-repeat;
  background-image: url('tutu.jpg');
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: 100%;
  background-size:  cover;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: auto 100%;
  min-height: 600px;
      .text-overlay h2{
        color: $white;
        font-size:30px;
        text-align: left;
        padding: 5rem 0;
        font-family: $fontregular;
  }
  .playbutton{    
    margin-top: 250px;   
    @media (min-width: 200px) and (max-width: 500px) {
      margin-top: -50px;
    }
    @media (min-width: 400px) and (max-width: 630px){
      margin-top: -50px;
    }
  }
}

.clinics {
  background-color: white;
  overflow: hidden;  
  h2 {
    padding: 2rem;  
    margin: 5rem; 
    font-size: 7rem;
    line-height: 9rem;
    font-family: $fontthin;
    @media (min-width: 200px) and (max-width: 400px) {
      font-size: 3rem; 
    }
    @media (min-width: 400px) and (max-width: 630px){
      font-size: 5rem; 
    }
  }
  .clinic-overlay {
    color: white;
    margin-top: 30%;
  }
  .clinic-pic {
    min-height: 397px;
    overflow: hidden;
  }
    .dominican {
      background: url('dominican.jpg') center no-repeat;
      background-image: url('dominican.jpg');  
      background-size: cover; 
      vertical-align: middle;   
      .overlay:hover {          
        -webkit-transition: 0.2s linear all;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        -webkit-transition-delay: initial;
        -moz-transition: 0.2s linear all;
        -ms-transition: 0.2s linear all;
        -o-transition: 0.2s linear all;
        transition: 0.2s linear all;
        transition-property: all;
        transition-duration: 0.2s; 
        background-color: rgba(0,0,0,0); 
      }            
    }
    .botswana {
      background: url('botswana-woman.jpg') center no-repeat;
      background-image: url('botswana-woman.jpg');
      background-size: cover; 
            padding-right: 0 !important;
      padding-left: 0 !important;    
      .overlay:hover {          
        -webkit-transition: 0.2s linear all;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        -webkit-transition-delay: initial;
        -moz-transition: 0.2s linear all;
        -ms-transition: 0.2s linear all;
        -o-transition: 0.2s linear all;
        transition: 0.2s linear all;
        transition-property: all;
        transition-duration: 0.2s; 
          background-color: rgba(0,0,0,0); 
      }                  
    }
    .tanzania {
      background: url('tanzania-man.jpg') center no-repeat;
      background-image: url('tanzania-man.jpg');
      background-size: cover; 
      height: 100%; 
      .overlay:hover {          
        -webkit-transition: 0.2s linear all;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        -webkit-transition-delay: initial;
        -moz-transition: 0.2s linear all;
        -ms-transition: 0.2s linear all;
        -o-transition: 0.2s linear all;
        transition: 0.2s linear all;
        transition-property: all;
        transition-duration: 0.2s; 
        background-color: rgba(0,0,0,0); 
      }            
    }
    .india {
      background: url('india-work.jpg') center no-repeat;
      background-image: url('india-work.jpg');
      background-size: cover;
      padding-right: 0 !important;
      padding-left: 0 !important;         
      .overlay:hover {          
        -webkit-transition: 0.2s linear all;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        -webkit-transition-delay: initial;
        -moz-transition: 0.2s linear all;
        -ms-transition: 0.2s linear all;
        -o-transition: 0.2s linear all;
        transition: 0.2s linear all;
        transition-property: all;
        transition-duration: 0.2s; 
        background-color: rgba(0,0,0,0); 
      }                  
    }
}
.care-vision {
  font-family: 'ProximaNova-Reg';
  padding: 2rem;
  background: $dark-blue-transp;
  background-image: url('blueprint-small.gif');
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-color: $dark-blue-transp; 
  .care-columns {
    margin: 0 auto;
    width: 80%;
  }
  .care-principles {
    min-height: 200px; 
    vertical-align: middle;
    text-align: center;
    .care-icons {
      background-color: $light-gray;
      border-radius: 50%;
      width: 140px;
      height: 140px;
      margin: 0 auto;
      text-align: center;
      // .icon {
      //   display: inline-block;
      //   height: 150px;
      //   vertical-align: middle;
        img {
          width: 60px;
          margin: 40px 0 0 40px; 
        }
        .lower-icon {
          margin: 50px 0 0 35px;
        }
        .raise-icon {
          margin: 30px 0 0 40px;          
        }
    }
      h3 {
        line-height: 3rem;
        text-align: center;
        color: $dark-blue;
      }
  }
  img {
    display: inline-block;
    float: left;
    margin: 2rem;
  }
}

.musk {
  background: url('elon.jpg') center bottom no-repeat;
  background-image: url('elon.jpg');
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: 100%;
  background-size: auto 100%;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: auto 100%;
  min-height: 600px;
      .text-overlay h2{
        color: $white;
        font-size:30px;
        text-align: right;
        padding: 5rem 0;
        font-family: $fontregular;
  }
}


.our-partners {
  background-color: $white;
  padding: 2rem;
  margin-bottom: 50px;
  .borders div {
    border: 1px solid $light-gray;
    padding: 2rem;
  }
  img {
    height: 50px;
    &:hover {
        -webkit-transition: 0.2s linear all;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        -webkit-transition-delay: initial;
        -moz-transition: 0.2s linear all;
        -ms-transition: 0.2s linear all;
        -o-transition: 0.2s linear all;
        transition: 0.2s linear all;
        transition-property: all;
        transition-duration: 0.2s;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
        opacity: 0.5;      
    }
  }
  h2 {
    padding: 1rem;
  }
}
.section-title {
  color: $dark-blue;
  line-height: 100px;
  border-right: 3px solid $light-gray;
  margin-right: -10%; 
}
.section-header {  
  text-align: center;
  padding: 25px 0;
  color: $dark-blue;
}
.name {
  font-family: $fontregular;
  ul {
    list-style: none;
  }
}
.profile {
  border-bottom: 3px solid $light-gray;
  border-right: 3px solid $light-gray;  
  padding: 2rem;
  margin: 7rem 0;
  li {
        font-family: $fontthin;
   }
  }
.team {
  .control-label {
    padding-right: 10px;
    text-align: left;
  }    
}

.contact {
  margin: 5rem 0;
}
/* ============================
WSDay Page */

.wsday-landing{
  position:relative;
  overflow:hidden;
  h1 {
    font-size: 8rem;
    margin-top: 20%;
    @media (min-width: 200px) and (max-width: 400px) {
      font-size: 6rem; 
      margin-top: 5%;
    }
    @media (min-width: 400px) and (max-width: 630px){
      font-size: 6rem; 
      margin-top: 5%;
    }
  }
}

.karma-class {
  .btn {
    margin: 1.5rem;
  }
  li {
    padding: 1.5rem;
    font-size: 2rem;
  }
}
/* Responsive YouTube Embed Start */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

.modal-content {
  background-color: $dark-blue-transp;
}
.modal-title {
  color: white;
}
 /* Responsive YouTube Embed End */
.wsday-landing video{
  width:100%;
  height:auto;
}
.overlay{
  margin: 0;
  position:absolute;
  left: 0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.3);  
}
.text-overlay{
  color:white;
  font-size:30px;
  text-align:center;
  font-family: $fontregular;
  span {
    font-family: $fontregularit;
  }   
}

.wsd-support {
  margin: 0 auto;
  .secondary-callout-boxes {
    margin: 20px auto;
    .co-wsd {
      background-color: $light-gray;
      border-radius: 100%;
      height: 225px;
      width: 225px;  
      margin: 20px auto;   
      .co-icon {
        vertical-align: middle;
        .icon {
          height: 150px;
          padding: 30px 0 0 0;
        }
      }
    }
    .wsc-gray {
      background-color: $wsc-gray;
    } 
  }

.donations {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
   .donate {
    margin: 10px 0; 
  } 
}
  .c-o {
    padding: 10px auto;
    max-width: 350px;
    margin: 0 auto;
    font-size: 2.5rem;
    line-height: 3rem;
    min-height: 100px;
  } 
}
.playbutton {
  &:hover {
    cursor: pointer;
  }

}
/* ============================
Blog */
.news {
  color: black;
  a {
    color: black;
  }
}

/* ============================
Take Action Page */

.caring-for-spine {

}


/* ============================
Take Action Page */
.projects {
  .clinics-landing {
    background: url('fitirst-team.jpg') 55% 80%;
    background-image: url('first-team.jpg');
    background-size: cover;
    min-height: 600px;
    width: 103%;
    float: right;
    margin: 0;
    a {
      cursor: pointer;
    }
    img {
      margin: 0 auto;
      padding: 20% 40%;
    }
  }
}
.article-img {
  border-radius: 6px;
  margin-left: 20px;
  margin-bottom: 10px;
  max-width: 60%;
}

.article-img-l {
  border-radius: 6px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.ta-donate-box {
  padding-top: 5rem;
  background-position: 0 -150px;
  height: 500px;
  border-radius: 5px;
  margin: 0 0 7rem 0;
  .ta-pics {
    max-height: 500px !important;
  }
}

.ta-volunteer-box {
  padding-top: 5rem;
  height: 500px;
  border-radius: 5px;
  margin: 0 0 7rem 0;
  .ta-pics {
    max-height: 500px !important;
  }
}

.ta-action-button {
  display: block;
  margin: 0 auto;
}


/* footer */

.footer {
  color: $dark-blue;
  background-color: $light-gray;
  font-size: 2rem;
  padding: 3rem 0;
  .social-icon {
    width: 75px;
    height: 75px;
    float: left;
    img {
    width: 50px;
    -webkit-transition: 0.2s linear all;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: initial;
    -moz-transition: 0.2s linear all;
    -ms-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
    transition-property: all;
    transition-duration: 0.2s;  
    // @media (min-width: 200px) and (max-width: 500px) {
    //   margin: 0 auto;
    // }
    // @media (min-width: 400px) and (max-width: 630px){
    //   margin: 0 auto;
    // }      
    &:hover {
      opacity: .75;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);      
      width: 52px;
      } 
    }
  }
  a {
    color: $dark-blue;
    line-height: 2.2rem;
    font-family: $fontregular;        
    &:hover {
      color: $light;
    }
  }
  ul {
    padding-top: 2rem;    
    list-style: none;
    li {
      margin-left: 15px;
      display: block;
    }
  }
  .copyright {
    font-size: 1.5rem;
  }
}

.socialIcon {
  float: none !important;
  img{
    width: 4em;
  }
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.video {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}